:root {
    --green-mint: #26b522;
    --absolute-white: #ffff;
    --blue-jeans: #587292;
    --deep-sea: #091B25;
    --carbon: #303030;
    --carbon-light: #383838;
    --carbon-lighter: #676767;
    --banana: #f2d344;
    --link: #003cff;
  }